.Form {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

h1 {
  font-size: 2em;
  margin-left: 0.67em;
}

.FormButton {
  width: 80px;
  margin-left: 1em;
}

.ButtonGroup {
  align-self: flex-end;
}