footer {
  display: flex;
  min-height: 4em;
  background-color: #cccccc;
  padding-left: 2em;
}

.Copyright {
  font-size: .65em;
  align-self: center;
}

footer span {
  font-weight: bold;
    color: #008000;}